[Desktop Entry]
Type=Application
Version=1.1

Name=Sonic Pi
Comment=The Live Coding Music Synth for Everyone
Keywords=live-coding;coding;music;synth;programming;

Path=${CMAKE_INSTALL_PREFIX}/app/gui/qt/
Exec=sonic-pi

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# The name of the icon that will be used to display this entry
Icon=${CMAKE_INSTALL_PREFIX}/app/gui/qt/images/icon.png

# Describes the categories in which this entry should be shown
Categories=Development;Audio;AudioVideo;Education;